* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1a1f29;
  color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: #ffcb05;
  margin-bottom: 20px;
}

.logo {
  max-width: 280px;
  /* margin-bottom: 15px; */
}

header h2 {
  font-family: "Press Start 2P", cursive;
  color: #2a3142;
}
/* Rules setting  */
.rules {
  background-color: #2a3142;
  border-left: 4px solid #ffcb05;
  padding: 15px 20px;
  max-width: 600px;
  margin: 10px auto 25px auto;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.rules h3 {
  font-size: 25px;
  color: #ffcb05;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.rules li {
  font-size: 18px;
  line-height: 1.5;
  color: #b0b9c8;
  margin-bottom: 8px;
  position: relative;
  padding-left: 15px;
}

.rules li::before {
  content: "•";
  color: #ff1c1c;
  font-size: 28px;
  position: absolute;
  left: 0;
  top: -2px;
}

/* Main */

/* Setting for the decks both players */
.game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.02);
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card-slot {
  width: 220px;
  height: 320px;
  background-color: #2a3142;
  border: 3px solid #3d475c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.card-placeholder {
  color: #5a6680;
  font-weight: 600;
}

.pokemon-card-image {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.versus {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  max-width: 200px;
}

.vs-txt {
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  color: #ff1c1c;
  text-shadow: 4px 4px #000;
}

/* Buttons */
.retro-btn {
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  background-color: #ffcb05;
  color: #222;
  border: 4px solid #3b4cca;
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0 3px 0 #3b4cca;
  transition: all 0.3s ease;
}

.retro-btn:active {
  transform: translateY(6px);
  box-shadow: none;
}
/* Footer */
